.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.error-box h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}

.error-box p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 0;
}
